html,body,div,p,span,ul,ol,dl,li,h1,h2,h3,h4,h5,h5,section{padding:0;margin:0;font-weight:200;}
body{font-family:微软雅黑,'Microsoft Yahei',黑体,'STHeitiSC-Medium';background:#fafafa}
ul{list-style:none}
a img{border:0;}
a{text-decoration:none}
a:hover{text-decoration:none}
html{font-size:82.5%;}
.mt-1{margin-top:-1px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.red{color:#D9534F}
.green{color:#5BB85C}
.gray{color:gray}
form label{font-weight:100;font-size:12px;color:#666}
form .control-label{color:gray;font-weight:100;font-size:14px}

.header{background:#07A8F5;position:fixed;width:100%;z-index:99}
.header .logo,.header .back{color:#fff;line-height:60px;}
.header .logo{text-align: center;}
.header .account{line-height:60px}
.header a{color:#fafafa}
.main{padding-top:60px;}
.account-info{box-shadow:0px 1px 10px #eee;background:#fff}
.account-info .row .col-xs-4{border-bottom:1px solid #ddd;border-right:1px solid #ddd;}
.account-info .row .col-xs-4:last-child{border-right:0}
.account-info h3{margin-top:10px;text-align:center;font-size:120%;padding:30px;color:#FFA600}
.account-info h3 span{color:gray;font-size:50%;margin-left:8px}
.account-info h3 p{font-size:60%;color:#666;line-height:40px}

.menu-list{margin-top:5px;padding:10px}
.menu-list .row{padding:0;border:1px solid #ddd;}
.menu-list .row .col-xs-3{border-right:1px solid #ddd;background:#fff;padding-top:20px}
.menu-list .row .col-xs-3:last-child{border-right:0;}
.menu-list .row .col-xs-3 a{display:block;text-align:center;color:#333;font-size:75%}
.menu-list .row .col-xs-3 a img{width:auto;height:auto}
.menu-list .row .col-xs-3 a p{padding:10px 0 30px 0}

.content{padding:15px;background:#fff;border-bottom:1px solid #ddd}

.footer{text-align:center;padding:30px 0}
.footer  p.menu span{color:#999;margin:0 3%}
.footer .cp{color:#999;padding-top:10px}

@media only screen and (min-width: 320px){
     html {font-size: 50%;}
     .header .logo{font-size:140%}
     .header .lg{display:none}
     .menu-list .row .col-xs-3 a img{width:16px;height:16px}
     .account-info h3{padding:10px 0}
     .menu-list .row .col-xs-3{padding-top:20px}
     .menu-list .row .col-xs-3 a p{padding:10px 0 20px 0;}
     .menu-list{margin-top:5px;padding:0px}
}

@media only screen and (min-width: 360px){
     .menu-list{margin-top:5px;padding:10px}
     .header .lg{display:inline-block}
}

@media only screen and (min-width: 481px){
     html {font-size: 104%!important;}
     .menu-list .row .col-xs-3 a img{width:24px;height:24px}
}
 @media only screen and (min-width: 561px){
     html {font-size: 129%!important;}
     .menu-list .row .col-xs-3 a img{width:28px;height:28px}
 }
 @media only screen and (min-width: 641px){
     html {font-size: 135%!important;}
     .menu-list .row .col-xs-3 a img{width:42px;height:42px}
 }
